body {
  font-family: Arial, sans-serif;
}

h1 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: color 0.3s ease-in-out;
}

h1:hover {
  color: blue;
}

.product-list {
  column-count: 3;
  column-gap: 20px;
}

.product-item {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

svg {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}